/* Dark theme styling */
html.dark {
	--jq-widget-header-bg: url("https://download.jqueryui.com/themeroller/images/ui-bg_highlight-soft_75_131313_1x100.png");
	--jq-widget-button-disabled-hovered-or-active-bg: url("chrome-extension://__MSG_@@extension_id__/assets/jquery-ui/ui-bg-glass-variant-01.png");
	--jq-widget-hover-or-focus: url("chrome-extension://__MSG_@@extension_id__/assets/jquery-ui/ui-bg-glass-variant-02.png");
	--jq-widget-active: url("chrome-extension://__MSG_@@extension_id__/assets/jquery-ui/ui-bg-glass-variant-02.png");
	--jq-widget-highlighted: url("https://download.jqueryui.com/themeroller/images/ui-bg_glass_55_fbf9ee_1x400.png");
	--jq-widget-errored: url("https://download.jqueryui.com/themeroller/images/ui-bg_glass_95_fef1ec_1x400.png");
	--jq-bgColorHeader: #212121;
	--jq-borderColorHeader: #545454;
	--jq-fcHeader: #222222;
	--jq-iconColorHeader: #222222;
	--jq-bgColorContent: #212121;
	--jq-borderColorContent: #494949;
	--jq-fcContent: #ffffff;
	--jq-iconColorContent: #222222;
	--jq-bgColorDefault: #141414;
	--jq-borderColorDefault: #323232;
	--jq-fcDefault: #dcdcdc;
	--jq-iconColorDefault: #888888;
	--jq-bgColorHover: #1d1d1d;
	--jq-borderColorHover: #474747;
	--jq-fcHover: #ffffff;
	--jq-iconColorHover: #454545;
	--jq-bgColorActive: #ffffff;
	--jq-borderColorActive: #474747;
	--jq-fcActive: #ffffff;
	--jq-iconColorActive: #454545;
	--jq-bgColorHighlight: #fbf9ee;
	--jq-fcHighlight: #363636;
	--jq-iconColorHiighligh: #2e83ff;
	--jq-bgColorError: #fef1ec;
	--jq-borderColorError: #cd0a0a;
	--jq-fcError: #cd0a0a;
	--jq-iconColorErroor: #cd0a0a;
	--jq-bgColorOverlay: #aaaaaa;
	--jq-bgColorShadow: #aaaaaa;

	::-webkit-scrollbar {
		width: 15px
	}

	::-webkit-scrollbar-track {
		background-color: #333333
	}

	::-webkit-scrollbar-thumb {
		height: 50px;
		background-color: #4b4b4b;
		border-radius: 2px;
		-webkit-transition: 1s;
		transition: 1s
	}
	
	::-webkit-scrollbar-thumb:hover {
		background-color: #666666
	}
	
	::-webkit-scrollbar-corner {
		background-color: #1a1a1a
	  }

	#addons-menu {
		--lightness: 50%;
	
		.content {
			color: rgb(255, 255, 255);

			fieldset {
				border-color: rgb(52, 52, 52);
				border-style: double;
			}

			hr {
				border: none;
				border-top: double rgb(52, 52, 52);
			}

			&::-webkit-scrollbar-thumb {
				background: rgba(255, 255, 255, 0.08);
			}
		}
	}

	body {
		color: #ffffff;
		background: #1a1a1a
	  }
	  
	#content {
		color: #ffffff;
	  }

	#mainContent #version {
		color: #525252
	}

	.tooltipster-default {
		box-shadow: 0 12px 14px 0 rgba(0,0,0,.25);
		border-radius: 5px;
		background: linear-gradient(to bottom,#191919,#1a1a1a);
		color: #ececec !important
	  }

	.tooltipster-arrow span,
	.tooltipster-arrow-bottom span,
	.tooltipster-base .tooltipster-arrow span,
	.tooltipster-default .tooltipster-arrow span {
		background: -o-linear-gradient(45deg, #191919 -225%, #1a1a1a 50%);
		background: linear-gradient(45deg, #191919 -225%, #1a1a1a 50%)
	  }
	  
	#secondaryContent>div, #tertiaryContent>div, .newsPost .wrapper {
		background: linear-gradient(to bottom, #292929, #1d1d1d);
		color: #fff;
	  }

	#statisticsSnippet {
		background: linear-gradient(to bottom, #292929 10%, #1d1d1d 90%) !important
	  }

	#scrapyardSnippet, #wallOfFameSnippet {
		background: #000 !important;
	}
	  
	.forum * {
		color: #fafafa;
	  }
	  
	.forum .bubble {
		background-color: #202020;
		border-color: #161616;
	  }
	  
	.forum .bubble .details {
		color: #999;
		text-align: right;
	  }
	  
	.forum .container>.bubble {
		border-color: #161616;
	  }
	  
	.forum .editing .bubble {
		background-color: #202020 !important;
	  }
	  
	#repliesWrapper .compose .container .bubble, #threadsWrapper .compose .container .bubble, .forum .container>.bubble {
		background: #202020;
	  }
	  
	#threadsContainer .approved.thread.selectable:not(.editing) .bubble:hover, .forum .thread .bubble:hover, .forum .thread.selectable.deleted .bubble:hover, .forum .thread:not(.approved):not(.moderatable) .bubble:hover {
		background: #161616 !important;
	  }

	.forum .approvable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble, .forum .bannable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble, .forum .deletable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble {
		border-color: #6b560c;
        background: #18150a;
      }
	  
	#adduser .content, #goldShopItemsContainer .shopItem, #settings .content, #shopItemsContainer .shopItem, #tankinfo .content {
		background: -o-linear-gradient(top, #242424 10%, #101010 90%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #242424), color-stop(90%, #101010));
		background: linear-gradient(to bottom, #242424 10%, #101010 90%);
		color: #e3e3e3;
	  }
	  
	#createReplyButton:disabled,
	#createThreadButton:disabled,
	#overlay * button:disabled,
	#overlay .messages.centre>form .rowContent .medium.tooltipstered:disabled,
	#shopItemsContainer .shopItem .medium.buy:disabled,
	.box.noselect .content,
	.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-dying,
	.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-fade-show,
	.virtualShop.centre>div .shopItem.info .purchaseOption .medium.buy:disabled {
		  background: -o-linear-gradient(top, #333 10%, #191919 90%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #333), color-stop(90%, #191919));
		  background: linear-gradient(to bottom, #333 10%, #191919 90%);
		  color: #fff
	  }

	#overlay .achievements.centre>div .achievement,
	#overlay .messages.centre>div .message,
	.shopItem {
		  background: -o-linear-gradient(top, #242424 10%, #101010 90%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #242424), color-stop(90%, #101010));
		  background: linear-gradient(to bottom, #242424 10%, #101010 90%) !important
	  }
	  
	#overlay .messages.centre>div .message.important {
		background: -o-linear-gradient(top, #427fff, #0014ab);
		background: -webkit-gradient(linear, left top, left bottom, from(#427fff), to(#0014ab));
		background: linear-gradient(to bottom, #427fff, #0014ab) !important
	  }
	  
	#overlay .achievements.centre>div .achievement.unlockedAndSeen {
		background: -o-linear-gradient(top, #b89830, #806719);
		background: -webkit-gradient(linear, left top, left bottom, from(#b89830), to(#806719));
		background: linear-gradient(to bottom, #b89830, #806719) !important
	  }
	  
	#overlay .messages.centre>div .message .headers {
		border-bottom: 1px solid #fff;
		color: #fff;
	  }
	  
	#overlay .messages .message .headers {
		border-bottom: 1px solid #000;
		margin: 5px;
		padding-bottom: 5px;
	  }
	  
	#overlay .messages .message .body {
		color: #fff;
	  }
	  
	.box .tab.bottom{
		background: linear-gradient(-45deg, #101010 70%, #242424 300%) !important;
	  }
	  
	.box .tab.topRight{
		background: linear-gradient(-45deg, #101010 -300%, #242424 30%) !important;
	  }
	  
	.box .tab.left, .box .tab.right {
		background: linear-gradient(-45deg, #101010 -400%, #242424 90%) !important;
	}

	button.disabled {
		background: linear-gradient(to bottom, #333, #191919);
	}
	.buttonGroup div:not(:last-child) button {
		border-right: rgb(51 51 51 / 25%) 1px solid;
	}

	.newsPost .wrapper .disk {
		color: #000
	}

	#newsPost-29 .wrapper .content .bubble,
    #newsPost-39 .wrapper .content .bubble {
        background-color: #363636;
        border-color: #1e1e1e
    }

	#newsPost-51 .wrapper .header {
		background: -o-linear-gradient(45deg, #0175ff 0, #87bcea 40%, #0175ff 100%);
		background: linear-gradient(45deg, #0175ff 0, #87bcea 40%, #0175ff 100%);
		border-radius: 5px 5px 0 0
	}

	#newsPost-54 .story {
		background-color: #363636;
	}

	#newsPost-59 .wrapper, #newsPost-63 .wrapper,
	#newsPost-76 .wrapper, #newsPost-77 .wrapper,
	#newsPost-92 .wrapper, #newsPost-95 .wrapper {
		background: repeating-linear-gradient(53deg, #080 0, #040 50px, #700 50px, #c00 100px, #080 100px) !important;
	}

	#newsPost-74 .facts {
		background-color: #363636;
	}

	#teaser-81, #newsPost-81 .wrapper, #teaser-82, #newsPost-82 .wrapper, #teaser-84, #newsPost-84 .wrapper,
	#teaser-85, #newsPost-85 .wrapper, #teaser-86, #newsPost-86 .wrapper, #teaser-89, #newsPost-89 .wrapper,
	#teaser-91, #newsPost-91 .wrapper {
		background-image: url(/getimage.php?id=77) !important;
		background-image: -webkit-image-set('/getimage.php?id=77' 1x, '/getimage.php?id=77&at2x 2x' 2x) !important;
		background-image: image-set('/getimage.php?id=77' 1x, '/getimage.php?id=77&at2x' 2x) !important;
		background-size: cover !important;
	}

	#teaser-98, #newsPost-98 .wrapper {
		background-image: image-set('/getimage.php?id=125' 1x, '/getimage.php?id=125&at2x' 2x), linear-gradient(to bottom, #6E25A4, #F1C439) !important;
		background-size: cover !important;
	}

	.teaser.important,.newsPost.important .wrapper {
		background: linear-gradient(to bottom,red,maroon) !important;
		color: #fff !important
	}
	
	.teaser.kickstarter,.newsPost.kickstarter .wrapper {
		background: linear-gradient(to bottom,#2bde73,#1b914a) !important;
		color: #fff !important
	}
	
	.teaser.halloween,.newsPost.halloween .wrapper {
		background: linear-gradient(to bottom,#666,#000) !important;
		color: #ff8600 !important
	}

.ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #1c1c1c), color-stop(75%, #181818));
    background-image: -o-linear-gradient(#1c1c1c 25%, #181818 75%);
    background-image: linear-gradient(#1c1c1c 25%, #181818 75%);
    color: #fff;
    border: 1px solid #161616
}

#chat.user .content form {
    background: #008603
}

#chat.global .content form {
    background: #4483a7
}

#chat .content form {
    background-color: #222;
    color: #e6e6e6;
}

#chat .content form textarea {
    color: #e6e6e6;
}

    #gameTab .deselected,
    #gameTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 320px;
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1Selected@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1Selected@2x.png) 2x)
    }

    #gameTab .deselected {
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab1@2x.png) 2x)
    }

    #shopTab .deselected,
    #shopTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2Selected@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2Selected@2x.png) 2x)
    }

    #shopTab .deselected {
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab2@2x.png) 2x)
    }

    #newsTab .deselected,
    #newsTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3Selected@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3Selected@2x.png) 2x)
    }

    #newsTab .deselected {
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab3@2x.png) 2x)
    }

    #forumTab .deselected,
    #forumTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4Selected@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4Selected@2x.png) 2x)
    }

    #forumTab .deselected {
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab4@2x.png) 2x)
    }

    #garageTab .deselected,
    #garageTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5Selected@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5Selected@2x.png) 2x)
    }

    #garageTab .deselected {
    background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5@2x.png) 2x);
    background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/header/tab5@2x.png) 2x)
    }
	  
	.newsPost img.pointer {
		width: 0;
		height: 0;
		padding: 29px 0 0 33px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/news//images/2x/getimage@2x.png) 2x)
	}

	#newsPost-54 .original img {
		width: 0;
		height: 0;
		padding: 161px 0 0 200px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage2.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage2@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage2.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/news/getimage2@2x.png) 2x)
	}

	#newsPost-25 .content {
		background-image: url(chrome-extension://__MSG_@@extension_id__/assets/news/gameModes@2x.png) !important
	}

	.newest .button.page.newest .standard {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 51px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewest.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewest@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewest.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewest@2x.png) 2x)
	}
	
	.newest .button.page.newest .active,
	.newest .button.page.newest .selected {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 51px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestActive@2x.png) 2x)
	}
	
	.newest .button.page.newest .selected {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelected@2x.png) 2x)
	}
	
	.newest .button.page.newest .selected.active,
	.oldest .button.page.oldest .standard {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 51px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageNewestSelectedActive@2x.png) 2x)
	}
	
	.oldest .button.page.oldest .standard {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldest.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldest@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldest.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldest@2x.png) 2x)
	}
	
	.oldest .button.page.oldest .active,
	.oldest .button.page.oldest .selected {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 51px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestActive@2x.png) 2x)
	}
	
	.oldest .button.page.oldest .selected {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelected@2x.png) 2x)
	}
	
	.ellipsis img,
	.oldest .button.page.oldest .selected.active {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 51px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/pageOldestSelectedActive@2x.png) 2x)
	}
	
	.ellipsis img {
		padding: 45px 0 0 41px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/ellipsis.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/ellipsis@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/ellipsis.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/ellipsis@2x.png) 2x)
	}
	
	.button.back .active,
	.button.back .standard {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 77px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/back.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/back@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/back.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/back@2x.png) 2x)
	}
	
	.button.back .active {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/backActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/backActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/backActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/backActive@2x.png) 2x)
	}
	
	.action.like .active,
	.action.like .standard {
		width: 0 !important;
		height: 0 !important;
		padding: 30px 0 0 30px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/like.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/like@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/like.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/like@2x.png) 2x)
	}
	
	.action.like .active {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/likeActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/likeActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/likeActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/likeActive@2x.png) 2x)
	}
	
	.action.share .active,
	.action.share .standard {
	  width: 0 !important;
	  height: 0 !important;
	  padding: 30px 0 0 30px;
	  background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/share.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/share@2x.png) 2x);
	  background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/share.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/share@2x.png) 2x);
	}
	.action.share .active {
	  background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/shareActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/shareActive@2x.png) 2x);
	  background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/shareActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/shareActive@2x.png) 2x);
	}

	.other .button.page img.active[src*=page0],
	.other .button.page img.standard[src*=page0] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 37px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page0] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Active@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Active@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page0],
	.other .button.page img.selected[src*=page0] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 37px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Selected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0Selected@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page0] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0SelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page0SelectedActive@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page1],
	.other .button.page img.standard[src*=page1] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 41px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page1] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Active@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Active@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page1],
	.other .button.page img.selected[src*=page1] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 41px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Selected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1Selected@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page1] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1SelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page1SelectedActive@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page2],
	.other .button.page img.standard[src*=page2] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 37px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page2] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Active@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Active@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page2],
	.other .button.page img.selected[src*=page2] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 37px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Selected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2Selected@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page2] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2SelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page2SelectedActive@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page3],
	.other .button.page img.standard[src*=page3] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 39px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page3] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Active@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Active@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page3],
	.other .button.page img.selected[src*=page3] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 39px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Selected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3Selected@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page3] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3SelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page3SelectedActive@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page4],
	.other .button.page img.standard[src*=page4] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 32px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page4] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Active@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Active@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page4],
	.other .button.page img.selected[src*=page4] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 32px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Selected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4Selected@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page4] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4SelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page4SelectedActive@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page5],
	.other .button.page img.standard[src*=page5] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 40px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5@2x.png) 2x)
	}
	
	.other .button.page img.active[src*=page5] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Active@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Active.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Active@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page5],
	.other .button.page img.selected[src*=page5] {
		width: 0 !important;
		height: 0 !important;
		padding: 45px 0 0 40px;
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Selected@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Selected.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5Selected@2x.png) 2x)
	}
	
	.other .button.page img.selected.active[src*=page5] {
		background-image: -webkit-image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5SelectedActive@2x.png) 2x);
		background-image: image-set(url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5SelectedActive.png) 1x, url(chrome-extension://__MSG_@@extension_id__/assets/forum/page5SelectedActive@2x.png) 2x)
	}
	
@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
(min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
	#header {
        background-image: url(chrome-extension://__MSG_@@extension_id__/assets/header/backgroundDark@2x.png) !important
    }

	.premium #header {
		background-image: url(https://cdn.tanktrouble.com/RELEASE-2023-09-06-01/assets/images/header/backgroundPremium@2x.png) !important;
	}
}

#header {
    background-image: url(chrome-extension://__MSG_@@extension_id__/assets/header/backgroundDark.png) !important
}
.premium #header {
	background-image: url(https://cdn.tanktrouble.com/RELEASE-2023-09-06-01/assets/images/header/backgroundPremium.png) !important;
}

#info {
    position: fixed;
    left: 50%;
    top: 50%
}

#info .title {
    font-family: TankTrouble
}

#info .content {
    background: linear-gradient(to bottom, #333 10%, #191919 90%);
    box-shadow: 0 0 0 2pt #202020
}

#info .content ul {
    background-color: #212121;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 0 0 2pt #323232
}

}
