@mixin hide {
	display: none !important
}

:root.fullscreen {
	#header,
	#leftBanner,
	#rightBanner,
	#secondaryContent,
	#tertiaryContent,
	#red_infiltration,
	#version {
		@include hide;
	}

	#contentWrapper {
		height: 100% !important;
	}

	#contentWrapper, #content {
		margin: 0 !important;
	}

	body, #contentWrapper {
		overflow: hidden;
	}

	#mainContent {
		display: flex !important;
		width: calc(100vw - 20px) !important;
        margin: 0 10px;
		height: 100vh !important;
	}

	#game {
		margin-top: 20px;
		left: unset;
		top: unset;
	}

    ::backdrop {
        z-index: 0;
        background: none !important;
    }
}
