@mixin hide {
	display: none !important
}

// Wide, premium-emulating content width
#content {
	max-width: 1884px !important;
	width: calc(100%) !important;
}

.horizontalAdSlot,
.verticalAdSlot,
#leftBanner,
#rightBanner,
#topBanner {
	@include hide;
}

/* Dimitrium's Emporium currency wallet */
.walletIcon {
	object-fit: contain;
	margin-right: 6px;
}

/* Statistics sidebar snippet */
#statisticsSnippet {
	display: inline-block !important;
	/* TankTrouble's selectors override it with a solid colour */
	background: linear-gradient(to bottom,#eee,#ccc) !important;

	#onlinePlayerCount {
		font-size: 40px;
		font-weight: 600;
	}
	#onlineGameCount {
		margin-bottom: 1em;
	}
}

/* Chat improvements */
#chat {

	body {
		/* Scrollbar */
		scrollbar-gutter: stable;
		top: 0 !important;
	}

	form {

		width: fit-content;

		.autocomplete-dropdown {

			background-color: #00ff02;
			border-radius: 3px;
			top: 0;
			filter: drop-shadow(0 0 3px rgb(0 0 0 / 70%));
			font-family: Arial, verdana;
			margin-top: 25px;
			max-height: 120px;
			max-width: 200px;
			min-width: 120px;
			overflow-y: scroll;
			padding: 4px 2px;
			position: absolute;
			scrollbar-color: #00a902 transparent;
			scrollbar-gutter: stable;
			scrollbar-width: thin;
			white-space: nowrap;
			z-index: 999;

			div {
				border-bottom: 1pt dotted #00a902;
				cursor: pointer;
				display: none;
				margin-bottom: 2px;
				overflow: hidden;
				padding: 0 8px 2px 4px;
				text-overflow: ellipsis;
			}

			.match {
				display: block;

				&:not(:has(~ .match)) {
					border-bottom: none;
					padding: 0 8px 0 4px;
				}
			}

			.highlight {
				font-weight: bold;
			}

			&:hover .highlight {
				font-weight: normal;
			}

			div:hover {
				font-weight: bold !important;
			}

			&:has(div:not(.highlight):hover) > .highlight {
				font-weight: normal;
			}

		}

		.autocomplete-caret-mirror {
			background: transparent;
			color: transparent;
			font-family: Arial, verdana;
			font-size: inherit;
			font-weight: bold;
			height: 0;
			margin: 0 0 0 5px;
			opacity: 0;
			padding: 1px 2px;
			pointer-events: none;
			z-index: -2147483647;
		}

	}

	&:is(.opening,.open) form {
		padding-right: 26px;
	}

}

/* Custom player-name element */
player-name {
	width: 150px;
	height: 20px;
	left: -5px;
	top: -12px;
	position: relative;
	display: block;
}

/* Forum improvements */
@keyframes highlight-post {
	50% {
		border: #a0e900 2px solid;
		background-color: #dcffcc;
	}
}
.forum {

	%animation {
		animation: .5s ease-in 0.3s 2 alternate highlight-post;
	}

	.reply {
		&.left .tanks {
			left: 0;
		}
		&.right .tanks {
			right: 0;

			.coCreator1 {
				position: absolute;
				transform: translate(55px, 0px);
			}
			.coCreator2 {
				position: absolute;
				transform: translate(110px, 0px);
			}
		}
		&.highlight .bubble {
			@extend %animation;
		}
	}

	.thread {
		&.highlight .bubble {
			@extend %animation;
		}
	}

	.tank {
		position: absolute;

		&.tankCount2 {
			transform: scale(0.8);
		}
		&.tankCount3 {
			transform: scale(0.6);
		}
		&.coCreator1 {
			position: absolute;
			transform: translate(-55px, 0px);
		}
		&.coCreator2 {
			position: absolute;
			transform: translate(-110px, 0px);
		}
	}

	.share img {
		display: none;
	}

	.thread, .reply {
		.share {
			&:active .active,
			&:not(:active) .standard {
				display: inherit;
			}
		}
	}

}
