/* Markdown */
$toolbar-height: 22px;
$markdown-image-maxheight: 300px;
$bubble-unmoderated: #ffda00;

.mdeditor-toolbar {
    display: flex;
    height: $toolbar-height;
    color: #757575;
    border: inherit;
    border-left: none;
    border-right: none;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    overflow-y: hidden;
    overflow-x: overlay;

    /* Firefox-only */
    @supports not (overflow-x: overlay) {
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #ccc #fff0;
    }

    .mdeditor-toolbar-tool {
        border: transparent 2px solid;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        min-width: 16px;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 6px;
        line-height: $toolbar-height;
        height: 100%;
        margin-right: 0 3px;
        text-align: center;
        user-select: none;
        white-space: nowrap;

        svg {
            stroke-width: 0;
            fill: #757575;
            stroke: #757575;
        } 

        &.active svg {
            fill: #000;
            stroke: #000;
        }

        &:hover {
            color: #000;
            border: #ccc 2px solid;
            background-color: #eee;
        }
    }

    .mdeditor-toolbar-seperator {
        height: $toolbar-height - 3px;
        width: 0;
        border-left: #ccc 2px solid;
        background: transparent;
        margin: 0 3px;
    }

    &::-webkit-scrollbar {
        height: 6px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 6px 6px 0 0;
        background: linear-gradient(0deg, #ccc 0%, rgba(0, 0, 0, 0) 100%);
    }
}

.forum {
    /* Forum bubbles, post composer */
    .bubble {
        .content, .mdeditor-preview {
            white-space: pre-wrap;

			/* Code block */
			pre {
				border: #ccc 2px solid;
				background-color: transparent;
				padding: 8px;
				border-radius: 6px;
				white-space: pre-wrap;
				word-wrap: break-word;
			}

			/* Horizontal rule */
			hr {
				height: 0;
				border-width: 0;
				border-top: 2px solid;
				margin-top: 14px;
				background-color: #ccc;
				border-color: #ccc;
			}

			/* </a> with link */
			a:link {
				color: #0000EE;
			}

			/* </a> with visited link */
			a:visited {
				color: #551A8B;
			}

			/* Embedded image */
			img {
				max-width: 100%;
				max-height: $markdown-image-maxheight;
			}

            * {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .mdeditor-preview {
            min-height: 32px;
            * {
                margin-top: 0;
            }
            .mdeditor-preview-empty {
                color: #757575;
            }
        }
        .header ~ .mdeditor-toolbar {
            margin-top: 5px;
        }
    }
    /* Forum bubble admin styling */
    .approvable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble,
    .deletable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble,
    .bannable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble {
        .content {
            pre {
                border: $bubble-unmoderated 2px solid;
            }
            hr {
                background-color: $bubble-unmoderated;
                border-color: $bubble-unmoderated;
            }
            blockquote::before {
                color: $bubble-unmoderated;
            }
        }
    }
    .deleted .bubble {
        pre .litelighterstyle, mark, a:link, a:visited {
            opacity: 0.2;
        }
        pre {
            border-color: #ddd;
        }
        hr {
            background-color: #ddd;
            border-color: #ddd;
        }
        img {
            opacity: 0.3;
        }
    }
}

.virtualShop .buttonGroup .wallet button {
    display: flex !important;
    align-items: center;
    flex-direction: row;

    img {
        height: 25px;
        margin: 0 7px;
    }
}

#googlePlaySnippet {
	display: none !important;
}
#red_infiltration {
	transform: translateY(-50px);
}

#statisticsSnippet {
    display: inline-block !important;
    /* TankTrouble's selectors override it with a solid colour */
    background: linear-gradient(to bottom,#eee,#ccc) !important;

    #onlinePlayerCount {
        font-size: 40px;
        font-weight: 600;
    }
    #onlineGameCount {
        margin-bottom: 1em;
    }
}

.spinner {
    /* <div class="spinner">Loading...</div> */
    @keyframes loading {
        0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em; }
        40% { box-shadow: 0 2.5em 0 0; }
    }

    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;

    &,
    &:before,
    &:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation-fill-mode: both;
        animation: loading 1.8s infinite ease-in-out;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }
    &:before {
        left: -3.5em;
        animation-delay: -0.32s;
    }
    &:after {
        left: 3.5em;
    }
}
